version: 2
jobs:
  run-test:
    docker:
      - image: circleci/python:latest-node-browsers-legacy

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt      

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            behave -f json.pretty -o ./report/results/report.json -D env_browser=chrome_headless

      - run:
          name: build-html
          command: |
            . venv/bin/activate
            python -m behave2cucumber -i ./report/results/report.json -o ./report/results/report.json
            cd report && npm install && node index.js
          when: always

      - run:
          name: deploy-s3
          command: |
            sudo apt-get -y -qq install awscli
            aws s3 sync report/results s3://examples-marciovrl/report-selenium-python --delete
          when: always

workflows:
  version: 2
  build:
    jobs:
      - run-test

  nightly:
    triggers:
      - schedule:
          cron: "0 * * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - run-test
      - build-html:
          requires:
            - run-test
